set_io -nowarn pin_clk    20
set_io -nowarn -pullup yes btn_n 25

set_io -nowarn rgb[0] 39
set_io -nowarn rgb[1] 40
set_io -nowarn rgb[2] 41

set_io -nowarn pin_32_sck 15
set_io -nowarn pin_30_cs  16
set_io -nowarn pin_31_mosi 14
set_io -nowarn pin_29_miso 17

set_io -nowarn pin_usbp   10
set_io -nowarn pin_usbn   9
set_io -nowarn pin_pu     6
